body{
    background-color: antiquewhite;
    margin:0px;
    height: 100vh;
    width: 100%;
}

div > .displayMusic, #musicCover {
    display: block;
}

a{
    color:whitesmoke;
    font-family: "Dokdo", cursive;
    font-weight: 400;
}

a:hover{
    color:#7A7369;
    text-decoration: underline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
  }

.sticky + nav {
    padding-top: 30px;
  }

*{
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
}

nav{
    display:flex;
    width: 100%;
    height: 8%;
    background-color: #B3A088;
}

.top-head {
    padding: 0.1rem 2rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#logo{
    text-decoration: none;
    justify-content: flex-start;
    font-size: 64px;
    white-space: nowrap;    
}

#logo, #link{
    flex-basis: calc(100%/3)
}

#social{
    flex-grow: 1;
}

#BandPlay{
    display: block;
    margin: 0 auto;
    padding: 3em 0;
    width:100%;
    height:56%
}

.iframeWrap {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sectionHead{  
    font-family: 'Sono', sans-serif;
    font-size: 64px;
    color:white;
    padding: 2rem;
    margin:0;
    text-align: center;
}

.headBg{
    background: #BEE5FA;
    height: auto;
}
.photoAlbum {
    display: flex;
    flex-direction: row!important; 
    flex-wrap: wrap;
    gap: 2%;
}
.photoAlbum > img{
    padding: 0px 0px 2% 2%;
    width: 48%;
    height: 27%; 
}

.tourHead {
    padding: 4rem 10rem;
    font-family: 'Sono', sans-serif;
    font-size: 1.5rem;    
    background: #BEE5FA;
}

.tourRow {
    display: flex;    
    justify-content: space-between;
    background: white;
    height: 10vh;
    margin-bottom: 2rem;
    align-items: center;
}

.country, .venue, .date, .ticket{
    flex-basis: calc(100%/3);
    padding: 1rem;
    font-weight: bold;
}

.ticket {
    text-align:center;
}

@media screen and (max-width: 980px){
    .tourHead {
        font-size: 18px;
    }

    .tourRow {
        height: 8vh;
    }
}

#ticketButton {
    display: flex;
    font-family:inherit;   
    font-size: 28px; 
    background: antiquewhite;
    color: whitesmoke;    
    text-decoration: none;
    width: 5em;
    height: auto;
    border-radius: 5px;
    margin: 0 auto 5rem;
    align-items: center;
    text-align: center;
}

#ticketButton:hover {
    transition: 0.5s;
    opacity: 0.8;
}

.formWrap {
    width: 100%;
    max-width: 450px;
    background:antiquewhite;
    color: whitesmoke;
    text-align: center;
    margin:0 auto;
    padding:10px;
    border-radius: 5px;
}

input[type=text], input[type=submit] {
    font: inherit;
    font-size: 16px;
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
}

input[type=submit] {
    background:#F8CAFA;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.footerWrap {
    padding: 2rem;
    background: #BEE5FA;
    text-align: center;
    color: white;
}